html,body {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
}

body {
	/* 	background: linear-gradient(90deg, rgb(240,240,240) 0%, rgb(240,245,250) 100%); */
	background: linear-gradient(305deg,rgb(35, 29, 61) 0%, rgb(12, 10, 19) 50%, rgb(35, 29, 61) 100%);
	color: rgb(235, 235, 235);
	font-family: "JetBrains Mono";
	display: flex;
	flex-direction: column;
}
input {
	background: transparent;
	outline: none;
	border: none;
	border-bottom: rgba(255,255,255,0.5) 1px solid;
	font-family: "JetBrains Mono";
	color:white;
}

#topbar {
	display:flex;
	place-content: space-between;
	border-bottom: rgba(255,255,255,0.1) 1px solid;
}

#topbar h1 {
	cursor: pointer;
	margin:30px;
	font-size:30px;
	color:rgb(144, 130, 208);
	opacity:0.7;
	text-shadow: black 0 0 10px;
	transition: opacity 500ms ease;
}
#topbar h1:hover {
	opacity:1;
}

#topright {
	margin: 30px;
	position: relative;
	font-size:20px;
	display: flex;
}
#topright > * {
	cursor: pointer;
}
#topright #topbar-search {
	display: flex;
}
#topright #search-icon {
	width: 30px;
	height: 30px;
	margin:5px;
	margin-right: 30px;
	opacity: 0.7;
	/* transition: margin-right 500ms ease; */
}
#topright #search-input {
	width: 0;
	opacity: 0;
	transition: all 500ms ease;
	margin-right: 0;
	background: transparent;
}
#topright #search-input::placeholder {
	font-family: "JetBrains Mono";
	color: rbga(255,255,255,0.5);
}
#topright .search-active #search-icon {
	opacity: 1;
}
#topright .search-active #search-input {
	width:150px;
	margin-right: 30px;
	opacity: 1;
}
#topright #search-icon:hover {
	opacity: 1;
}
#topright p {
	margin: 0;
	line-height: 40px;
	opacity: 0.7;
}
#topright p:hover {
	opacity: 1;
}
#topright #profile-pic {
	background: rgb(235, 235, 235);
	border-radius: 70px;
	width: 40px;
	height: 40px;
	margin-left: 30px;
	opacity: 0.7;
}
#topright #profile-pic:hover {
	opacity: 1;
}

.container {
	margin: 0 max(60px,12%);
	padding: 0;
}

h2.container-title {
	margin-top:45px;
	font-size:30px;
	color:rgba(255,255,255,0.7);
	text-shadow: black 0 0 10px;
}

#feed {
	margin: 45px 0;
}

#feed ul {
	margin:0;
	padding:0;
}

#feed li {
	list-style: none;
	display: flex;
	margin-bottom:45px;
}

#feed .thumbnail {
	width: 60px;
	height: 60px;
	background: rgb(255,255,255);
	opacity: 0.5;
	border-radius: 5px;
	margin-top: 5px;
}
#feed .entry-content {
	margin-left:30px;
}
#feed .entry-title {
	font-size:21px;
	text-decoration: none;
	color:rgb(144, 130, 208);
}
#feed .entry-desc {
	font-size:15px;
	color:gba(255,255,255,0.8);
	margin: 5px 0;
}
#feed .entry-names {
	display:flex;
}
#feed .entry-names a {
	margin: 0 10px;
}
#feed a.entry-author {
	font-size:14px;
	color:rgb(144, 130, 208);
	margin-left:0;
	text-decoration: none;
}
#feed .entry-contributors {
	display: flex;
}

#feed a.entry-cont {
	font-size: 14px;
	text-decoration: none;
	color: rgba(255,255,255,0.5);
}

.wallet-address-row {
	margin:45px 0;
	width: fit-content;
}
.wallet-address-row label {
	margin-right:10px;
}
.wallet-address-row input {
	width:300px;
}
.actionbutton {
	margin-top:30px;
	display: flex;
	padding: 10px 15px;
	border: rgba(255,255,255,0.5) 1px solid;
	width: fit-content;
	opacity: 0.5;
	transition: opacity 500ms ease;
}
.actionbutton.btn-allowed {
	cursor: pointer;
	opacity: 1;
}
.actionbutton p {
	margin: 0;
}
.actionbutton img {
	width:25px;
	height:25px;	
	margin-right:10px;
}

#profile {
	margin: 45px 0;
	display: flex;
}

#profile .profileimg {
	width: 100px;
	height: 100px;
	background: rgb(255,255,255);
	opacity: 0.5;
	border-radius: 5px;
	margin-top: 5px;
}
#profile .profile-content {
	margin-left:30px;
}
#profile .profile-name {
	font-size:21px;
	text-decoration: none;
	color:rgb(144, 130, 208);
	margin: 0;
}
#profile .profile-bio {
	font-size:15px;
	color:gba(255,255,255,0.8);
	margin: 5px 0;
}
#profile .profile-pubs {
	display:flex;
	flex-direction: column;
}
#profile .profile-pubs p {
	margin: 30px 0 10px 0;
}
#profile ul {
	padding: 0;
}
#profile li {
	list-style: none;
	display: flex;
	margin-bottom:10px;
}
#profile a.profile-pub {
	margin: 0 10px;
	font-size:16px;
	color:rgb(144, 130, 208);
	margin-left:0;
	text-decoration: none;
}


#add-publication {
	margin-top: 45px;
}

#publication {
	margin: 45px 0;
	display: flex;
}
#publication .pub-content {
	margin-left:30px;
}
#publication .pub-title {
	font-size:21px;
	text-decoration: none;
	color:rgb(144, 130, 208);
}
#publication .pub-desc {
	font-size:15px;
	color:gba(255,255,255,0.8);
	margin: 5px 0;
}
#publication .pub-names {
	display:flex;
	margin-top:10px;
}
#publication .pub-names a {
	margin: 0 10px;
}
#publication a.pub-author {
	font-size:14px;
	color:rgb(144, 130, 208);
	margin-left:0;
	text-decoration: none;
}
#publication .pub-contributors {
	display: flex;
}

#publication a.pub-cont {
	font-size: 14px;
	text-decoration: none;
	color: rgba(255,255,255,0.5);
}

#addcontributorbtn {
	margin-top: 10px;
}
#currentcontributors {
	margin: 20px 0;
	color:rgb(144, 130, 208);
}

textarea {
	color:white;
	font-size: 16px;
	padding: 10px;
	background:rgba(255,255,255,0.1);
	border:rgba(255,255,255,0.2);
	height:25px;
}
#titlecontent, #desccontent {
	margin:30px 0;
	display: flex;
}

#titlecontent textarea, #desccontent textarea {
	margin-left:20px;
}

#papercontent-textarea {
	height:300px;
	width:100%;
}