<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <meta name="description" content="{{description}}" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/font.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}" />
    </head>
    <body>
        <div id='topbar'>
			<h1>eolas.</h1>
			<div id='topright'>
			{% block topright %}{% endblock %}
			</div>
		</div>
        {% block content %}{% endblock %}
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
		<script src="{{url_for('static',filename='js/script.js') }}"></script>
    </body>
</html>
