{% extends 'layout.html' %}

{% block content %}
	<div class="container">
		<h2 class="container-title">Login</h2>
		<div class="wallet-address-row">
			<label>Handle name</label>
			<input id='login-handle-input' placeholder='toby' value=''>
		<div>
		<div class="wallet-address-row">
			<label>Wallet address</label>
			<input id='login-wallet-input' placeholder='0x..' value=''>
		<div>
		<div id='loginactionbutton' class="actionbutton">
			<img src="{{ url_for('static',filename='assets/img/send.svg') }}">
			<p>login</p>
		</div>
	</div>
{% endblock %}