{% extends 'layout.html' %}

{% block topright %}
	{% include 'topright.html' %}
{% endblock %}

{% block content %}
	<div class="container">
		{% if profile["name"] == name %}
			<div id='add-publication' class="actionbutton btn-allowed">
				<img src="{{ url_for('static',filename='assets/img/addbox.svg') }}">
				<p>add publication</p>
			</div>
		{% endif %}
		<div id="profile">
			<img class='profileimg' src="{{ url_for('static',filename='assets/img/'+profile['src'])}}"" alt='profile image'>
			<div class='profile-content'>
				<p class='profile-name'>{{profile["name"]}} - {{profile["id"]}}</p>
				<p class='profile-bio'>{{profile["bio"]}}</p>
				<div id='followprofilebutton' class="actionbutton btn-allowed">
					<img src="{{ url_for('static',filename='assets/img/add-circle.svg') }}">
					<p>follow</p>
				</div>
				<div class='profile-pubs'>
					<p>Previous Publications:</p>
					<ul>
						{%- for pub in profile["publications"] %}
							<li><a class='profile-pub' href="pub?title={{pub['title']}}">{{pub['title']}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}